docs/site/

# OSX Junk
.DS_Store

# test cache
.cache/*
tests/__pycache__/*
*.pytest_cache/

build
attic
*.png
*.pyc
*.blg
*.fdb_latexmk
*.log
*.gz
*.toc
*.pkl
*.h5
crops
crops
*.aux
*.bbl
*.out
*.dvi
mbi*pdf
Untitled*
launch*
*eps-converted-to*
reports/theory_paper
reports/fake_reaper/*pdf
toymodels
.Rhistory
.Rproj.user
*.dcf
*.profile
e1hist_AllDLSFields_qualitycut.csv
MagicBeans_v2.Rproj
LL6566.pdf
CropInspector for ThresherDP outputs djb-000.ipynb
CropInspector for ThresherDP outputs GREAT3-CGC.ipynb
setpyenv.sh
GREAT3-paper-paragraph.pdf
simple_thresher_test.ipynb
mbi-theoryNotes.bib
mbi-theory.brf
GREAT3
josh-poster*
*.brf
*.so
machinery/build
thresher_tools.c
theory_paper_shear_field.pdf
thresher_tools.html
mbi.egg-info
reports/pillars.key
*Notes.bib
*.fls
*.orig
*.npy
*.csv
*.x
*.mp4
*.o
*.d
*.a
*.bak
CopyrightAgreementApJ.pdf
reports/papers/mbi-theory_apj_submission_2
graphs
threshing
devel/psf_marg_test/debug
.RData
*.Rproj
devel/galaxy_mis_test/output
devel/psf_sampling/output
ThresherConvergenceTests.pdf
ThresherConvergenceTests.html
include/spdlog
mass-mapping.pdf
pipeline.pdf
psf_sampling_pipeline.pdf
tests/output
